include AUTHORS.rst
include CHANGELOG.rst
include LICENSE
include README.rst
recursive-include jmbo_calendar/migrations *
recursive-include jmbo_calendar/templates *
recursive-include jmbo_calendar/templatetags *
recursive-include jmbo_calendar/tests *
